* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

.grid-container {
  height: 100vh;
  
  display: grid;
  grid-template-rows:  98px 98px 98px 98px ;
  grid-template-columns: repeat(3, 1fr);
  
}

.grid-item {
  background-color: white;
  
  
}

.item-1 {
  grid-row-start:1;
  grid-row-end: 4;
  grid-column-start: .5;
  grid-column-end: 2;
  background-color:blue;
}
  .item-2 {
  grid-row-start:1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #A52A2A;
  
} 
 .item-3 {
  grid-row-start:2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
} 
.item-4 {
  grid-row-start:3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #A52A2A;
}
.item-5 {
  grid-row-start:4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
}
.item-6 {
  grid-row-start:5;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #A52A2A;
}
.item-7 {
  grid-row-start:6;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #A52A2A;
}
.item-8 {
  grid-row-start:7;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 5;
  
}
.item-9 {
  grid-row-start:8;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #A52A2A;
}
.item-10 {
  grid-row-start:9;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 5;
  
}
.item-11 {
  grid-row-start:10;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #A52A2A;
}
.item-12 {
  grid-row-start:11;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 5;
}
.item-13 {
  grid-row-start:12;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #A52A2A;
}
.item-14 {
  grid-row-start:13;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 5;
}

.star {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -4px;
  display: inline;
}